<!-- /.row -->
<div class="row mb-2">
    <div class="col-lg-12">
        <ng-include src="'/app/common/back.html'"></ng-include>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert {{vm.response.success}}" ng-if="vm.response.msg">
            <strong>{{vm.response.alert}}</strong> {{vm.response.msg}}
        </div>
    </div>

    <div class="col-lg-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> {{ vm.deal.name }} </span>
                </div>
                <div class="actions">
                    <a ng-href="{{vm.customerHost}}/deals/{{vm.deal.token}}/preview" target="_blank" class="btn btn-outline btn-circle btn-sm green">
                        <i class="fa fa-eye"></i> Preview
                    </a>

                    <a ui-sref="dashboard.deal.design({id:vm.dealId})" ng-if="vm.editType == 'standard'" class="btn btn-outline btn-circle btn-sm yellow">
                        <i class="fa fa-edit"></i> Design
                    </a>
                    <a ui-sref="dashboard.upsell.design({id:vm.dealId})" ng-if="vm.editType == 'upsell'" class="btn btn-outline btn-circle btn-sm yellow">
                        <i class="fa fa-edit"></i> Design
                    </a>

                    <a ui-sref="dashboard.deal.edit({id:vm.dealId})" ng-if="vm.editType == 'standard'" class="btn btn-outline btn-circle btn-sm purple">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a ui-sref="dashboard.upsell.edit({id:vm.dealId})" ng-if="vm.editType == 'upsell'" class="btn btn-outline btn-circle btn-sm purple">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a href="javascript:;" ng-click="vm.deleteDeal($event.currentTarget, vm.deal)" ng-if="vm.deal.is_archived == false" data-spinner-color="#e7505a" class="btn btn-outline btn-circle btn-sm red">
                        <i class="fa fa-archive"></i> Archive
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3">Vendor Name</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.vendor.name"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Vendor Email</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.vendor.email"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Associated Brand</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.brand.name"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Category</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.category.name"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Slug</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.slug"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Link</label>
                            <div class="col-md-9">
                                <p>
                                    <a href="{{vm.deal.link}}" ng-bind="vm.deal.link"></a>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Description</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.description"></p>
                            </div>
                        </div>

                        <div class="form-group" ng-if="vm.deal.deal_type == 'standard'">
                            <label class="col-md-3">Upsell Associations </label>
                            <div class="col-md-9">
                                <p>
                                    <span ng-repeat="upsell_info in vm.deal.upsell_assciation_infos">
                                      {{upsell_info.name}}{{$last ? '' : ', '}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Price</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.price | toCurrencyFormat"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Amazon Rating</label>
                            <div class="col-md-9">
                                <p ng-bind="vm.deal.amazon_rating"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Starts At</label>
                            <div class="col-md-9">
                                <p>{{ vm.deal.date_start.date }} {{ vm.deal.date_start.time }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Ends At</label>
                            <div class="col-md-9">
                                <p>{{ vm.deal.date_end.date }} {{ vm.deal.date_end.time }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3">Status</label>
                            <div class="col-md-9">
                                <p style="text-transform: capitalize;" ng-bind="vm.deal.status"></p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<hr>
<h4>Uploaded Images</h4>
<div class="mt-element-overlay mb-3" ng-if="vm.hasImages()">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 image-view-container" ng-repeat="image in vm.images">

            <div class="mt-overlay-1 mt-scroll-up">
                <img ng-src="{{image.standard_url}}" alt="{{image.description}}" id="{{image.uid}}" />
                <div class="mt-overlay">
                    <ul class="mt-info">
                        <li>
                            <a class="btn default btn-outline" href="javascript:;" data-toggle="tooltip" title="Show Description" ng-click="vm.openEditImageModal($event.currentTarget)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <image-form form-image="image" insert-img="vm.blankFn" form-mode="View" no-btn="true"></image-form>

        </div>
    </div>
</div>
<div ng-if="!vm.hasImages()">
    <h5>No uploaded images</h5>
</div>

<hr>
<h4>Uploaded Videos</h4>
<div class="mt-element-overlay mb-3" ng-if="vm.hasVideos()">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 video-view-container" ng-repeat="video in vm.videos">

            <div class="mt-overlay-1 mt-scroll-up">
                <img ng-src="{{video.thumb_url}}" alt="{{video.description}}" id="{{video.uid}}" />
                <div class="mt-overlay">
                    <ul class="mt-info">
                        <li>
                            <a class="btn default btn-outline" href="javascript:;" data-toggle="tooltip" title="Show Description" ng-click="vm.openEditVideoModal($event.currentTarget)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <video-form form-video="video" insert-video="vm.blankFn" form-mode="View" no-btn="true"></video-form>

        </div>
    </div>
</div>
<div ng-if="!vm.hasVideos()">
    <h5>No uploaded videos</h5>
</div>

<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-ticket"></i>Variants
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th class="text-center"> Name </th>
                            <th class="text-center"> Color </th>
                            <th class="text-center"> Color Value </th>
                        </tr>
                    </thead>
                    <tbody ng-show="vm.variants.length">
                      <tr ng-repeat="variant in vm.variants">
                        <td class="text-center align-middle" ng-bind="variant.name"></td>
                        <td class="text-center align-middle" ng-style="{'background-color': variant.color}"></td>
                        <td class="text-center align-middle" ng-bind="variant.color"></td>
                      </tr>
                    </tbody>
                    <tbody ng-show="!vm.variants.length">
                        <tr>
                            <td colspan="4">
                                <h5 class="text-center align-middle">No variants</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-ticket"></i>Current Discount
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="row" ng-if="vm.activeDiscount">
                    <div class="discount-box col-xs-12 col-lg-4">
                      <div class="discount-attr-box discount-attr-value-box">
                        <span class="discount-attr-value">
                          {{ vm.activeDiscount | discountLabel }}
                        </span>
                      </div>
                      <div class="discount-attr-box discount-attr-name-box">
                        <span class="discount-attr-name">
                          Value
                        </span>
                      </div>
                    </div>
                    <div class="discount-box col-xs-12 col-lg-4">
                      <div class="discount-attr-box discount-attr-value-box">
                        <span class="discount-attr-value">
                          {{ vm.activeDiscount.coupon_count | numberToString }}
                        </span>
                      </div>
                      <div class="discount-attr-box discount-attr-name-box">
                        <span class="discount-attr-name">
                          Claimed Coupons
                        </span>
                      </div>
                    </div>
                    <div class="discount-box col-xs-12 col-lg-4">
                      <div class="discount-attr-box discount-attr-value-box">
                        <span class="discount-attr-value">
                          {{ vm.activeDiscount.available_coupon_count | numberToString }}
                        </span>
                      </div>
                      <div class="discount-attr-box discount-attr-name-box">
                        <span class="discount-attr-name">
                          Available Coupons
                        </span>
                      </div>
                    </div>
                </div>
                <h5 class="text-center align-middle" ng-if="!vm.activeDiscount">No active discount</h5>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
