<div class="modal fade in video-modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span ng-if="!noBtn">Add</span> Video</h4>
            </div>
            <div class="modal-body">
                <form role="form" novalidate>
                    <div class="form-body">
                        <div class="form-group" ng-if="formMode != 'View'">
                            <label for="">Title</label>
                            <input type="text" class="form-control" ng-model="formVideo.title" />
                        </div>

                        <div class="form-group" ng-if="formMode != 'View'">
                            <label for="">Description</label>
                            <textarea class="form-control" ng-model="formVideo.description"></textarea>
                        </div>

                        <div class="form-group form-video-preview text-center"></div>
                        <div class="form-group" ng-if="formMode != 'View'">
                            <label for="">Embedded Content</label>
                            <textarea class="form-control" id="video-file-input"  ng-model="formVideo.embedded_content" ng-change="previewVideo(formVideo.embedded_content)"></textarea>
                        </div>

                        <div class="form-group form-image-preview"></div>
                        <div class="form-group" ng-if="formMode != 'View'">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <label for="">Thumbnail Image</label>
                                <div class="input-group input-large">
                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                        <span class="fileinput-filename"> </span>
                                    </div>
                                    <span class="input-group-addon btn default btn-file">
                                                                    <span class="fileinput-new"> Select file </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" id="image-file-input" base-sixty-four-input ng-model="formVideo.image_attributes.file" ng-change="previewImage(formVideo.image_attributes.file)" accept="image/*" maxsize="10000"> </span>
                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput" clear-image-input sel-model="formVideo" elem-container=".form-image-preview" ng-click="clearFile()"> Remove </a>
                                    <!--<label for=""></label>
                                    <input type="file" id="name" class="form-control" base-sixty-four-input ng-model="vm.form.file.file" multiple accept="image/*" />
                                    <p class="help-block">Upload deal image</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="formMode != 'View'">
                            <label for="">Thumbnail Image Description</label>
                            <textarea class="form-control" ng-model="formVideo.image_attributes.description"></textarea>
                        </div>


                        <div class="form-group" ng-if="formMode != 'View'">
                            <label>Source Type</label>
                            <select class="form-control input-medium ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" ng-model="formVideo.source_type" required="" style="">
                                <option value="embed" selected="selected">Embed</option>
                                <option value="local">Local</option>
                            </select>
                        </div>

                        <div class="form-group" ng-if="formMode == 'View'">
                            <h4>Description</h4>
                            <div>{{ formVideo.description }}</div>
                        </div>
                        <div class="form-group" ng-if="formMode == 'View'">
                            <h4>Source Type</h4>
                            <div>{{ formVideo.is_embedded ? 'Embedded' : 'Local' }}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="closeForm()">Close</button>
                <button type="button" class="btn green" ng-click="addNewVideoObj()" ng-if="!noBtn" ng-disabled="videoIsInvalid()">Add</button>
            </div>
        </div>
    </div>
</div>