.fade {
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    display: none;
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}